*{box-sizing: border-box;}
body {
    background-color:#EDEDED ;
    margin: 0%;
    max-width: 100%;
}


.header {
  position: sticky;
  top: 0;
  z-index: 2;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  
}

.navbar {
  display: flex;
  justify-content: space-between;
  background: #EDEDED;
  border-bottom: 1px solid #144c4a5d;
  padding: 13px;
  font-family: "Maven Pro", sans-serif;
  max-width: 100%;
  align-items: center;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    font-weight: lighter;
    flex-wrap: wrap;           
    max-width: 100%;          
    overflow-wrap: break-word; 
    word-break: break-word;
    
}

.navbar ul li a {
    text-decoration: none;
    color: #144C4A;
    font-weight: lighter;
    max-width: 100%;
    display: inline-block;
    overflow-wrap: break-word;
  word-break: break-word;
  }

.logo img{
    
    height: 60px;
    width: auto;
    margin-left: 20px;
   
}

.contenedor1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center; 
  justify-content: center;
  gap: 40px;
  margin-top: 100px;
}

.imagen1{
height: auto;
width: 35%;
margin-right: 30px;
}

.imagen1 img{
height: auto;
width: 85%;
margin-top: 40px;
align-items: center;

transition: transform 0.3s ease;
}

.imagen1 img:hover {
  transform: scale(1.1); 
}



.parrafo1 h1 {
  width: 100%;
  height: auto;
  font-size: 40px;
  margin-bottom: 10px;
  color: #144C4A;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
 
}
.parrafo1 p{
height: auto;
width: 100%;
font-size: 20px;
display: flex;
text-align: left;
max-width: 500px;
line-height: 1.5;
font-family: "Maven Pro", sans-serif;
margin-bottom: 35px;
margin-top: 10px;

}

.boton {
  text-decoration: none;
  background-color: #F8D92E;
  color: #144C4A ;
   padding-top: 12px; 
  padding-bottom: 12px;
  padding-left: 35px;
  padding-right: 35px; 
  border-radius: 13px;
  font-family: "Maven Pro", sans-serif;
  font-weight: bold;

}

.contenedor2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
   
}

.contenedora {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 50%;
    margin-top: 120px;
    justify-content: center;
    align-items: center;
}

.imagen2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagen2 img {
    height: auto;
    width: 60%;
    margin-bottom: 20px;
}

.parrafo2 {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.parrafo2 h1 {
    height: auto;
    width: 100;
    color: #144C4A;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 35px;
  margin: 5px;
}

.parrafo2 p {
    display: flex;
    text-align: center;
    height: auto;
    width: 55%;
    font-size: 20px;
    line-height: 1.5;
    font-family: "Maven Pro", sans-serif;
    margin-top: 2px;
}

.contenedorb {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 50%;
    margin-top: 120px;
    justify-content: center;
    align-items: center;
}

#contacto {
    background-color: #D9D9D9;
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
    margin-top: 180px;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 120px;
}

.imagen3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 50%;
    margin-top: 60px;
    flex-direction: column;
}

.imagen3 p {
    font-family: "Maven Pro", sans-serif;
    color: #144C4A;
}

.imagen3 a {
    height: auto;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen3 img {
    height: auto;
    width: 30%;
}

.contactof {
    height: auto;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contactof p {
    font-family: "Maven Pro", sans-serif;
    color: #144C4A;
}

.enviar input {
    background-color: #F8D92E;
    color: white;
    border: none;
    font-family: "Maven Pro", sans-serif;
    font-weight: bold;
    padding-bottom: 15px;
    padding-top: 15px;
    width: 260px;
      border-radius: 10px;
}

.email input {
    background-color: white;
    color: #494949;
    border: none;
    font-family: "Maven Pro", sans-serif;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 20px;
    width: 240px;
    margin-bottom: 15px;
    border-radius: 10px;
}

.mensaje textarea {
    background-color: white;
    color: #D9D9D9;
    border: none;
    font-family: "Maven Pro", sans-serif;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 20px;
    width: 460px;
    margin-bottom: 15px;
    border-radius: 10px;
}

.enviar1 input {
    background-color: #F8D92E;
    color: white;
    border: none;
    font-family: "Maven Pro", sans-serif;
    font-weight: bold;
    padding-bottom: 15px;
    padding-top: 15px;
    width: 480px;
    border-radius: 10px;
    margin-bottom: 50px;
}

.email1 input {
    background-color: white;
    color: #D9D9D9;
    border: none;
    font-family: "Maven Pro", sans-serif;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 20px;
    width: 460px;
    margin-bottom: 15px;
    border-radius: 10px;
    margin-top: 40px;
}

.imagen4{
height: auto;
width: 35%;
margin-left: 50px;
}

.imagen4 img{
height: auto;
width: 85%;
margin-top: 40px;
display: flex;
align-items: center;
justify-content: center;

transition: transform 0.3s ease;
}

.imagen4 img:hover {
  transform: scale(1.1); 
}

.parrafo3 h1 {
  width: 100%;
  height: auto;
  font-size: 30px;
  margin-bottom: 10px;
  color: #144C4A;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
 
}

#formarparte {
    display: flex;
    justify-content: center;
    margin-top: 160px;
    
}

.contenedor3 {
    background-color: #EDEDED;
    border: 1px solid #a6a5a585;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 50%;
    flex-direction: column;
    padding: 50px;
    border-radius: 30px;
}

#info {
    margin-bottom: 90px;
    margin-top: 10px;
}

.contenedor4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
   
}

.lista1  {
    font-family: "Maven Pro", sans-serif;
    font-size: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    list-style: none;
    color: #144C4A;
}

.lista1 a {
    text-decoration: none;
    color: #144C4A;
}
